<% if member_signed_in? %>

	<h2>You are signed in</h2>
	<%= current_member.email %>

<% else %>

	<h1>vResume Home Page</h1>

	<%= form_for(:member, :url => registration_path(:member)) do |f| %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <div><%= f.submit "Sign up" %></div>
	<% end %>

<% end %>